@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import "https://fonts.googleapis.com/css?family=Indie+Flower";

body {
  background-color: #2a2a2a;
  height: 95vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 220px;
  min-height: 350px;
  background-color: #ffffff;
  border-radius: 3px;
  display: grid;
  grid-template-areas: 'display' 'keypad';
  padding: 5px;
}

#display-screen {
  font-family: 'Open Sans', sans-serif;
  grid-area: 'display';
  height: 80px;
  border-bottom: #2a2a2a solid 1px;
  text-align: right;
}

#display-screen > #display {
  font-size: 35px;
  height: 50px;
}

#display-screen > #expression {
  font-size: 25px;
  height: 30px;
}

#keypad {
  margin-top: 15px;
  grid-area: 'keypad';
  display: grid;
  grid-template-rows: repeat(5, 55px);
}

.digit {
  border: none;
  background-color: #2a2a2a;
  color: white;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
}

.symbol {
  border: none;
  background-color: #1274d6;
  color: white;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
}

.btn-red {
  background-color: #ef4545;
}

.btn-green {
  background-color: #007d00;
}

button:focus {
  outline: none;
}

div[id*='row'] {
  display: grid;
  grid-template-columns: repeat(4, 55px);
  justify-content: center;
  align-items: center;
}